{% extends 'base.html' %}
{% load static %}

{% block title %} Room Chat {% endblock title %}


{% block links %}
    <!-- <link rel="stylesheet" href="{% static 'css/product.css' %}"> -->
{% endblock links %}


{% block content %}

{% include 'header.html' %}

<main class="flex-ctr-clm">
    <div class="flex-ctr-clm container">
        <h1>Room Chat</h1>
    </div>
</main>

{% include 'footer.html' %}

{% endblock content %}


{% block scripts %}

{% endblock scripts %}
